:root {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
    
}

.mainArea {
    width: 70%;
    padding: 7px;
    margin: 0 auto;
    text-align: center;
}
<<<<<<< HEAD
body
=======
.nameEntry {
    background-color:#eeeeee;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    font-size: 30px;
    width: 450px;
    cursor: pointer;
}

/*
.bevelBoxScore
>>>>>>> 7dc2b32f69084c7558eb7dbde190788bd5f421bf
{
    background: #ffffff;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

<<<<<<< HEAD
.question {
    margin: 1%;
    padding: 2%;
    background-color: #40b7ff;
    border-radius: 25px;
}

.answers {
    padding: 5px;
    display: grid;
    padding: 5px;
}

.answer1 {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    background-color: #40b7ff;
    border-radius: 25px;
=======
.relative-lower-3rd {
    position: absolute;
    align-self: center;
    left: 4%;
    margin-left: 800px;
    bottom: 8%;
    width:480px;
    opacity: 0;
}

.relative-lower-3rd-name {
    position: absolute;
    align-self: center;
    left: 25%;
    margin-left: -0px;
    bottom: 5%;
    width:480px;
    opacity: 0;
}

.lowerThirdScoreIn {
    animation-name: lowerThirdSlideIn;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    left: 18%;
    margin-left: -0px;
    bottom: -5%;
    width:480px;
}

.lowerThirdScoreOut{
    animation-name: lowerThirdSlideOut;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    opacity: 0;
    left: 18%;
    margin-left: -0px;
    bottom: -5%;
    width:480px;
}

.lowerThirdNameIn {
    animation-name: lowerThirdSlideIn;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    left: 25%;
    margin-left: -0px;
    bottom: 5%;
    width:480px;
}

.lowerThirdNameOut{
    animation-name: lowerThirdSlideOut;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    opacity: 0;
    left: 25%;
    margin-left: -0px;
    bottom: 5%;
    width:480px;
>>>>>>> 7dc2b32f69084c7558eb7dbde190788bd5f421bf
}

.answer2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    background-color: #40b7ff;
    border-radius: 25px;
}

.answer3 {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    background-color: #40b7ff;
    border-radius: 25px;
}

<<<<<<< HEAD
.answer4 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    background-color: #40b7ff;
    border-radius: 25px;
}

.answerMain {
    padding-top: 2%;
    padding-bottom: 2%;
}

.questionLetter {
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.timerBar {
    width: 100%;
    height: 4%;
=======
.absolute-half { 
    position:absolute;
    bottom:0;
    font-size:35px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -15px;
    left: 460px;
    width:100%;
    text-align:top-left;
}

.absolute-time { 
    position:absolute;
    bottom:0;
    font-size:55px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -50px;
    left: 480px;
    width:100%;
    text-align:top-left;
}

.absolute-left-score { 
    position:absolute;
    bottom:0;
    font-size:49px;
    font-family:"Arial";
    color: rgba(251,251,251,0.9);
    background: rgba(251,251,251,0.0);
    top: -40px;
    left: -385px;
    width:100%;
    text-align: right;
}

.absolute-right-score { 
    position:absolute;
    bottom:0;
    font-size:49px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -40px;
    left: -155px;
    width:100%;
    text-align: right;
}

.absolute-score-divider { 
    position:absolute;
    bottom:0;
    font-size:50px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -40px;
    left: 244;
    width:100%;
    text-align: center;
}

.absolute-team-right { 
    position:absolute;
    bottom:0;
    font-size:49px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -40px;
    left: 240px;
    width:100%;
    text-align: left;
}

.absolute-team-left { 
    position:absolute;
    bottom:0;
    font-size:49px;
    font-family:"Arial";
    color: rgba(251,251,251,0.9);
    background: rgba(251,251,251,0.0);
    top: -40px;
    left: 10px;
    width:100%;
    text-align: left;
}

.absolute-lower-3rd-left-score { 
    position:absolute;
    bottom:0;
    font-size:80px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 425px;
    left: 110px;
    width:100%;
    text-align: right;
}

.absolute-lower-3rd-right-score { 
    position:absolute;
    bottom:0;
    font-size:80px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 425px;
    left: 635px;
    width:100%;
    text-align: left;
}

.absolute-lower-3rd-left-team { 
    position:absolute;
    bottom:0;
    font-size:60px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 320px;
    left: 30px;
    width:100%;
    text-align: right;
}

.absolute-lower-3rd-right-team { 
    position:absolute;
    bottom:0;
    font-size:60px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 320px;
    left: 725px;
    width:100%;
    text-align: left;
}

.absolute-lower-3rd-home-player-name { 
    position:absolute;
    bottom:0;
    font-size:56px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 95px;
    left: 155px;
    width:150%;
    text-align: left;
}

.absolute-lower-3rd-away-player-name { 
    position:absolute;
    bottom:0;
    font-size:56px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 95px;
    left: 155px;
    width:150%;
    text-align: left;
>>>>>>> 7dc2b32f69084c7558eb7dbde190788bd5f421bf
}

.timerBarContainer {
    border-radius: 25px;
    padding-top: 17px;
    width: 98%;
    margin: auto;
}

.timerBarCanvas {
    border-radius: 25px;
    padding-top: 17px;
    width: 98%;
    margin: auto;
    border: 3px solid black;
    box-sizing: border-box;
}
