:root {
    --home-color:#33AA33;
    --away-color:#D31F2C;
    font-size: 30px;
}
/*
    var(--home-color);
    var(--away-color);
}
*/

body
{
    background: #aaaaaa;
}

.settings
{

}

.homeButton {
    background-color: var(--home-color);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.awayButton {
    background-color: var(--away-color);
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.yellowCardButton {
    background-color: #eeee00;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.redCardButton {
    background-color: #ee0000;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.genericButton {
    background-color:#eeeeee;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.timeAdjustText {
    background-color:#eeeeee;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 25px;
    text-align: center;
    font-size: 30px;
    width: 200px;
    cursor: pointer;
}
/*
.bevelBoxScore
{
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    
    background: #ffffff;
    
    border: 1px solid #000000;    
    
    -moz-box-shadow: inset 4px 4px 4px rgba(255, 255, 255, .4), inset -4px -4px 4px rgba(0, 0, 0, .4);
    float: left;
}
*/
.rotateIn {
    animation-name: scoreClockRotateIn;
    transform-origin: top left;
    animation-duration: 0.75s;
    opacity: 1;
    position:relative;
    width:600px;
  }

.rotateOut {
    animation-name: scoreClockRotateOut;
    transform-origin: top left;
    animation-duration: 0.75s;
    opacity: 0;
    position:relative;
    width:600px;
  }
  
@keyframes scoreClockRotateIn {
    0% {transform: rotateY(90deg); opacity: 0;}
    1% {transform: rotateY(90deg); opacity: 1;}
    99% {transform: rotateY(00deg); opacity: 1;}
    100% {transform: rotateY(0deg); opacity: 1;}
}

@keyframes scoreClockRotateOut {
    0% {transform: rotateY(0deg); opacity: 1;}
    30% {transform: rotateY(0deg); opacity: 1;}
    99% {transform: rotateY(90deg); opacity: 1;}
    100% {transform: rotateY(90deg); opacity: 0;}
}

.relative{
    position:relative;
    width:600px;
    opacity: 0;
}

.relativePreview {
    position:relative;
    width:600px;
}

.relative-lower-3rd {
    position: absolute;
    align-self: center;
    left: 4%;
    margin-left: -240px;
    bottom: 8%;
    width:480px;
    opacity: 0;
}

.lowerThirdScoreIn {
    animation-name: lowerThirdSlideIn;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    left: 47%;
    margin-left: -240px;
    bottom: 8%;
    width:480px;
}

.lowerThirdScoreOut{
    animation-name: lowerThirdSlideOut;
    position: absolute;
    align-self: center;
    animation-duration: 0.75s;
    opacity: 0;
    left: 47%;
    margin-left: -240px;
    bottom: 8%;
    width:480px;
}

@keyframes lowerThirdSlideIn {
    0% {transform: scale(2)};
    5% {transform: rotateX(90deg); opacity: 0;}
    30% {transform: rotateX(90deg); opacity: 1;}
    99% {transform: rotateX(0deg); opacity: 1;}
    100% {transform: rotateX(0deg); opacity: 1;}
}

@keyframes lowerThirdSlideOut {
    0% {transform: rotateX(0deg); opacity: 1;}
    1% {transform: rotateX(0deg); opacity: 1;}
    60% {transform: rotateX(90deg); opacity: 1;}
    90% {transform: rotateX(90deg); opacity: 1;}
    100% { opacity: 1;}
    100% { opacity: 0;}
    
}

.absolute-half { 
    position:absolute;
    bottom:0;
    font-size:48px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -37px;
    left: 600px;
    width:100%;
    text-align:top-left;
}

.absolute-time { 
    position:absolute;
    bottom:0;
    font-size:48px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -37px;
    left: 697px;
    width:100%;
    text-align:top-left;
}

.absolute-left-score { 
    position:absolute;
    bottom:0;
    font-size:48px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -37px;
    left: -59px;
    width:100%;
    text-align: center;
}

.absolute-right-score { 
    position:absolute;
    bottom:0;
    font-size:48px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: -37px;
    left: 223;
    width:100%;
    text-align: center;
}

.absolute-lower-3rd-left-score { 
    position:absolute;
    bottom:0;
    font-size:36px;
    font-family:"Arial";
    color: rgba(251,251,251,0.9);
    background: rgba(251,251,251,0.0);
    top: 155px;
    left: -43px;
    width:100%;
    text-align: center;
}

.absolute-lower-3rd-right-score { 
    position:absolute;
    bottom:0;
    font-size:36px;
    font-family:"Arial";
    color: rgba(0,0,0,0.9);
    background: rgba(251,251,251,0.0);
    top: 155px;
    left: 165;
    width:100%;
    text-align: center;
}

.absolute-lower-3rd-home-player-name { 
    position:absolute;
    bottom:0;
    font-size:40px;
    font-family:"Arial";
    color: rgba(251,251,251,0.9);
    background: rgba(251,251,251,0.0);
    top: -20px;
    left: 125px;
    width:100%;
    text-align: left;
}

.absolute-lower-3rd-away-player-name { 
    position:absolute;
    bottom:0;
    font-size:40px;
    font-family:"Arial";
    color: rgba(251,251,251,0.9);
    background: rgba(251,251,251,0.0);
    top: -20px;
    left: 125px;
    width:100%;
    text-align: left;
}

.scoreButtons {
    float: left;
    width: 40%;
    margin: auto;
}

.lowerThirdPreview {
    float: left;
    width: 60%;
    margin: auto; 
}

/* DivTable.com */
.divScoreTable {
	display: table;
	width: 70%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
    border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
}
.divTableBody {
	display: table-row-group;
}

.absolute-text a{font-size:16px; color:#b92b27;}