:root {
    font-size: 35px;
    font-family: 'vtcallskratcheduponeregular', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

@font-face {
    font-family: Arial;
    font-weight: normal;
    font-style: normal;
    /*color: #dddddd;*/
}

.mainArea {
    width: 70%;
    padding: 0px;
    margin: 0 auto;
    text-align: center;
}

body
{
    /*background: #ffffff;*/
    background-image: url("media/chalk.jpg");
    background-size: auto;
    color: #dddddd;
}

.logo {
    width: 80%;
    margin: 0 auto;
}

.question {
    margin: 2%;
    padding: 2%;
    /*background-color: #40b7ff;*/
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

.answers {
    padding: 5px;
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.answer1 {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

.answer2 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

.answer3 {
    grid-column-start: 1;
    grid-column-end: 1;
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

.answer4 {
    grid-column-start: 2;
    grid-column-end: 2;
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    border-radius: 25px;
}

.answerMain {
    padding-top: 2%;
    padding-bottom: 2%;
}

.questionLetter {
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.videoWrapper {
	text-align: center;
	padding-bottom: 56.25%; /* 16:9 */
	height: 2px;
}

.videoWrapper iframe {
	width: 70%;
    height: 100%;
}

/*
.timerBar {
    width: 100%;
    height: 1%;
}
*/
.timerBarContainer {
    text-align: center;
    border-radius: 25px;
    width: 70%;
    margin: auto;
    align-content: center;
    
    width: 100%;
    
    box-sizing: border-box;
    height: 70px;
}


.timerBarCanvas {
    align-content: center;
    border-radius: 25px;
    width: 92%;
    border: 3px solid black;
    box-sizing: border-box;
    height: 70px;
    margin: 15px;
    border:2px solid rgba(0, 0, 0, 50);
    background-color:rgba(25, 150, 25, 3);
}

/* DivTable.com */
.divTable{
	display: table;
    margin: auto;
	width: 70%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell {
	
    display: table-cell;
    vertical-align: top;
}

.divTableCellText {
	/*border: 1px solid #999999;*/
    display: table-cell;
    vertical-align: top;
    padding-top: 40px;
	/*padding: 3px 30px;*/
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}


.mainSignup{ 
    padding:20px; 
    font-family: 'Helvetica', serif; 
    box-shadow: 5px 5px 7px 5px #888888; 
} 

.mainSignup h1{ 
    font-size: 40px; 
    text-align:center; 
    font-family: 'Helvetica', serif; 
} 

input{ 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    font-size: 20px; 
    padding: 12px 20px; 
    margin: 8px 0; 
    border: none; 
    border-bottom: 2px solid #767474; 
}

input[type=submit] { 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    background-color: #767474; 
    border: none; 
    color: white; 
    padding: 16px 32px; 
    margin: 4px 2px; 
    border-radius: 10px; 
} 
