<!DOCTYPE html>
<html>
<head>
<title>Quiz Night Live</title>
<link rel="stylesheet" href="styles.css">
<script src="/node_modules/easytimer/dist/easytimer.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="index_script.js"></script>
</head>
<body>
    <div class="mainArea" id="mainArea">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell"><img class="logo" src="/media/QuizNightNoBKG.png" style="width: 200px;  object-fit: contain;" alt="" id="QuizNightLogo"></a></div>
                    <div class="divTableCellText"><a href="#news">What is QuizNighLive?</a></div>
                    <div class="divTableCellText"><a href="sign_up">Sign Up</a></div>
                    <div class="divTableCellText"><a href="#about">Donate To Charity</a></div>
                </div>
            </div>
        </div>
    </div>
