
<div class="question"  id="question">
        Question 1: What is the capital city of x? capital city of x?capital city of x?
      </div>
    <div class="answers">
        <div id="answerA" class="answer1" onclick="answer('A')">
          <div class="questionLetter">A:</div>
          <div class="answerMain">Paris</div>
        </div>  
        <div id="answerB" class="answer2" onclick="answer('B')">
          <div class="questionLetter">B:</div>
          <div class="answerMain">Paris</div>
        </div>  
        <div id="answerC" class="answer3" onclick="answer('C')">
          <div class="questionLetter">C:</div>
          <div class="answerMain">Paris</div>
        </div>  
        <div id="answerD" class="answer4" onclick="answer('D')">
          <div class="questionLetter">D:</div>
          <div class="answerMain">Paris</div>
        </div>  
      </div>
  </div>
<!--        <p><button onclick="animateTimer()">StartTimer</button></p> -->
    <div class="timerBarContainer">
        <canvas class="timerBarCanvas" id="timerBarCanvas"></canvas>
    </div>

<script>
var socket = io();

socket.emit('test');
socket.on('connect', () => {
    socket.send('joined');
    socket.on('newQuestion', (msg) => {
      document.getElementById("question").textContent = "Q" + msg.QuestionNumber + ". " + msg.Question
      document.getElementById("answerA").textContent = msg.AnswerOptions.A
      document.getElementById("answerB").textContent = msg.AnswerOptions.B
      document.getElementById("answerC").textContent = msg.AnswerOptions.C
      document.getElementById("answerD").textContent = msg.AnswerOptions.D
      //socket.emit("lowerThirdScoreBackgroundAnnounce","/media/HalfTime.png")
    });
  });
  
/*socket.on('newQuestion', function(msg) {
  console.log("msg")
  
});
*/
//This is for people who may of left the quiz. started late etc?
socket.on('currentQuizState', function(msg) {  
  console.log(msg)
   if (msg == "QuizMode") {
    //getQuestion?
     console.log("A");
    // populate and show answer buttons?
   } else if (msg == "HoldingPage") {
     //Show holding info.
     console.log("B");
   } else {
    console.log("C!");
   }
 });




</script>